bot-with-ui.txt
 [{"id":"29057d97.86fd4a","type":"ui_form","z":"fb939f52.7a31c8","name":"","label":"Chat with our Watson  bot:","group":"28a33b07.215664","order":0,"width":0,"height":0,"options":[{"label":"Chat with me!","value":"chat","type":"text","required":true}],"formValue":{"chat":""},"payload":"","topic":"","x":135.4499969482422,"y":84,"wires":[["6881ed17.b1273c"]]},{"id":"dc6c8352.cc0278","type":"watson-conversation-v1","z":"fb939f52.7a31c8","name":"","workspaceid":"236cc594-9c12-4850-b603-4bd0b6b419e4","multiuser":false,"context":true,"x":395.45001220703125,"y":153.49998474121094,"wires":[["423b120c.0c574c","2697a4ff.93279c"]]},{"id":"6881ed17.b1273c","type":"function","z":"fb939f52.7a31c8","name":"Read input ","func":"msg = {payload:msg.payload.chat};\nreturn msg;","outputs":1,"noerr":0,"x":151.4499969482422,"y":151.74998474121094,"wires":[["dc6c8352.cc0278"]]},{"id":"31ffa9d0.04ae0e","type":"ui_text","z":"fb939f52.7a31c8","group":"28a33b07.215664","order":0,"width":"6","height":"6","name":"","label":"Watson answers:","format":"{{msg.payload}}","layout":"row-center","x":860.4500122070312,"y":153.99998474121094,"wires":[]},{"id":"423b120c.0c574c","type":"debug","z":"fb939f52.7a31c8","name":"","active":true,"console":"false","complete":"false","x":337.45001220703125,"y":213.49998474121094,"wires":[]},{"id":"2697a4ff.93279c","type":"function","z":"fb939f52.7a31c8","name":"Read bot output","func":"msg.payload = msg.payload.output.text;\nreturn msg;","outputs":1,"noerr":0,"x":655.4500122070312,"y":152.74998474121094,"wires":[["31ffa9d0.04ae0e"]]},{"id":"28a33b07.215664","type":"ui_group","z":"","name":"Watson Chat bot","tab":"4e826b7b.51dc5c","disp":true,"width":"6"},{"id":"4e826b7b.51dc5c","type":"ui_tab","z":"","name":"Watson","icon":"dashboard","order":3}]